.al-panel-group {

    .link {
        &:focus {
            color: #333333;
            text-decoration: none;
        }
    }

    > .panel-al {
        border: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .panel-heading {

        .panel-title {
            a[aria-expanded='true'] {
                color: $orange;
            }
        }

        & + .panel-collapse {
            > .list-group, 
            > .panel-body {
                border-top: none;
            }
        }
    }

    .list-group-item {
        border: none;
    }
}