.blog-card{
    margin-top: 20px;
    margin-bottom: 20px;
    >.image{
        height: 145px;
        background-size: cover;
        background-position: center;
        border: 1px solid #e8e8e8;
        // background-image: url('../acropolis/assets/images/sample-blog.jpg');
        display: block;
    }
    >.title{
        font-size: 15px;
        letter-spacing: 0.4px;
        text-align: left;
        color: #252525;
        margin-bottom: 6px;
        display: block;
        margin-top: 20px;
    }
    >.category{
        font-family: $font-p22;
        font-size: 9px;
        letter-spacing: 1.4px;
        text-align: left;
        text-transform: uppercase;
        margin-bottom: 19px;
        a{
            color: #1d1d1d;
            pointer-events: none;
            cursor: default;
        }
        .post-categories{
            padding-left: 0;
            display: inline;
            li{
                list-style: none;
                display: inline;
            }
        }
    }
    >.content{
        p {
            font-family: Georgia;
            font-size: 13px;
            line-height: 1.54;
            letter-spacing: 0.3px;
            text-align: left;
            color: rgba(#333333, 0.7);
        }
    }
    >.link{
        color: $orange;
    }
}