.blog-header{
    .post-categories{
        padding-left: 0;
        list-style: none;
        display: inline-block;
        a{
            color: #000;
            pointer-events: none;
            cursor: default;
        }
        a:after{
            content: ' /';
        }
    }

}