.footer-copyright p{
    font-family: $font-p22;
    font-size: 11px;
    line-height: 1.63;
    letter-spacing: 0.4px;
    color: #1d1d1d;
    margin-bottom: 20px;
    @include breakpoint(xs){
        margin-bottom: 20px;
    }
}